rest-model/src/main/resources/xsd/customer.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="id" type="xs:byte"/>
    <xs:element name="firstName" type="xs:string"/>
    <xs:element name="lastName" type="xs:string"/>
    <xs:element name="customerUrl" type="xs:string"/>
    <xs:element name="Customer">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="id"/>
                <xs:element ref="firstName"/>
                <xs:element ref="lastName"/>
                <xs:element ref="customerUrl"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CustomerListDTO">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Customer" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>